.home-lunbo{
	height: 40%;
	/* background-color: rosybrown; */
}

.item-lunbo{
	width: 100%;
	height: 100%;
	position: relative;

}

.first-demo{
	width: 100%;
	height: 100%;
}

.sencod-lunbo{
	width: 76%;
	height: 100%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.second-demo{
	width: 100%;
	height: 98%;
}

.home-contain{
	width: 100%;
	padding: 10px 12%;
}
.extension-wrap{
	padding-bottom: 40px;
}

.extension-wrap ul{
   display: flex;
   justify-content: space-between;
}

.extension-wrap li{
	width: 212px;
	height: 162px;
}

.extension-wrap li img{
	width: 212px;
	height: 162px;
}
.video-theme{
	font-size: 25px;
}

.video-theme span:first-child{

	font-weight: 600;
	padding-right: 20px;
}

.video-contain{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.itemvideo-box{
	width: 270px;
}

.bgd-video{
	width: 100%;
	height: 200px;
}

.item-desc{
	padding: 10px;
}

.video-title{
	/* text-align: center; */
	font-weight: 600;
    margin-bottom: 10px;
}

.video-type{
	font-size: 12px;
	color: #C5C5C5;
	margin-bottom: 0;
}

.video-type span:first-child{
	padding-right: 30px;
}

.user-info{
	height: 40px;
	line-height: 40px;
}

.user-link{
	color: #4B4B4B;
}

.user-avatar{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-right: 10px;
}

.role{
	padding-left: 20px;
}